

.button {
    font-family: "press Start 2P", cursive;
    padding: 5%;
    font-size: medium;

}

.btn {
    background-color: blue;
}
/* background picture formatted  */
.containersign:before { 
    content: '';
    background: url("/assets/images/8-bit-background-1.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* container sizing */
.containersign {
    width: 50vh;
    margin-top: 10vh;
    padding: 3vh;
    background-color: white;
}