#bird {
  /* border-radius: 50%;*/
  /* background-color: white;  */
  width: 150px;
  height: 150px;
  position: absolute;
  top: 250px;
  left: 40px;
  /* margin-bottom: 20px; */
}

#bird-image {
  
  background-image: url("./images/crow1.png");
}
