body {
  /* background-color: #263238; */
  background-image: "./images/mountainbackground.png";
  background-size: 600px;
  /* height: 80vh; */
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

.bg {
  /* background-image: "./assets/images/mountainbackground.png"; */
  top: 0;
  left: 0;
  margin-top: -15%;
}

img { 
      /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    position: absolute;
    bottom: 0px;
    left: -51px;
    width: 105%;
    z-index: -10;
}