#startScreen {
  position: relative;
  color: rgb(180, 56, 211);
  font-size: 20px;
  font-weight: bold;
  /* width: 80%;
  height: 100%; */
  /* display: table; */
  text-align: center;
  vertical-align: center;
  margin-top: 50%;
  margin-left: 0;
}

#startScreen div {
  /* top: 50%; */
  /* display: table-cell; */
  /* vertical-align: middle; */
}