#sign-up,
#log-in {
    color: red;
    background-color: rgb(238, 197, 84);
    height: 40vh;
    width: 40vw;
    padding-top: 50px;
    font-size: medium;
    font-family: "press Start 2P", cursive;
    opacity: .8;
}

body {
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: url("/assets/images/8-bit-background-1.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.button {
    font-family: "press Start 2P", cursive;
    padding: 5%;
    font-size: medium;

}

.text-box {
    width: 60%
}