.gamepage {
  /* width: 50%; */
  overflow: hidden;

  background-color: pink;
  background: url(/assets/images/game/game-bg1.png) -32px -32px no-repeat;
  background-size: 115%;
  height: 100vh;
  width: 100vw;
  position: absolute;

  top: 0;
  left: 0;
}


.pillar {
  background-color: black;
}
