#gameOver {
  font-size: 3em;
  color: #03A9F4;
  font-weight: bold;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  text-align: center;
  z-index: 15;
  width: 12em;
  height: 300px;
  /* margin: 0 auto; */
  background-color: #424242db;
  border-radius: 20px;
}

#gameOver div {
  padding-top: 2%;
}

#gameOver button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2%;
  font-weight: bold;
  
  
  top: 0;
  left: 0;
  /* margin-left: 33%; */
  /* margin-right: auto; */
  /* margin-top: 10%; */
  /* margin-bottom: auto; */
  text-align: center;
  z-index: 15;
  /* width: 12em; */
  /* height: 300px; */
  /* margin: 0 auto; */
  /* background-color: #424242db; */
  border-radius: 20px;
  border:  1px solid black;
  opacity: 0.95;
  margin-top: 1em;
}
